@model HospitalisedViewModel

<div class="container register">
    <div class="row">
        <div class="col-md-4 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form method="post" asp-controller="Hospital" asp-action="RemoveFromHospital">
                        <h3 class="register-heading">Sick animal</h3>
                        <div class="row register-form">
                            <div class="col-md-9 register-right">
                                <div class="form-group">
                                    <label asp-for="One.Name"></label>
                                    <input asp-for="One.Name" class="form-control">
                                    <span asp-validation-for="One.Name" class="small text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-secondary">Remove from hospital</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

@if (Model.Two != null)
{
    @foreach (var hospital in Model.Two)
    {
        foreach (var animal in hospital.Animals)
        {
            <h2> @animal.Name</h2>
            <img src="@animal.URL" style="overflow: hidden; position: relative; width:400px; height:400px;" />
        }
    }
}
else
{
    <h2>No animals in hospital</h2>
}


