@model List<AnimalViewModel>

<h1>
    <center>There are all animals in the Zoo!</center>
</h1>

<ul>
    @foreach (var animal in Model)
    {
        <h3>
            <ul>
                @animal.Type
            </ul>
            <ul>
                @animal.Name
            </ul>
            <ul>
                <img src="@animal.URL" style="overflow: hidden; position: relative; width:400px; height:400px;" />
            </ul>
        </h3>
    }
</ul>


